
/*Footer*/

.footer_container {
    row-gap: 2.5rem;
}

.footer_logo {
    color: var(--first-color);
    font-size: var(--h3-font-size);
    font-weight: var(--font-semi-bold);
    display: inline-flex;
    align-items: center;
    column-gap: .25rem;
    margin-bottom: .75rem;
}

.footer_logo i {
    font-size: 1.25rem;
}

.footer_description,
.footer_link {
    font-size: var(--small-font-size);
    font-weight: var(--font-medium);
}

.footer_content,
.footer_links {
    display: grid;
}

.footer_content {
    grid-template-columns: repeat(2, max-content);
    gap: 2.5rem 4rem;
}

.footer_title {
    font-size: var(--h3-font-size);
    margin-bottom: 1rem;
}

.footer_links {
    row-gap: .5rem;
}

.footer_link {
    color: var(--text-color);
    transition: .3s;
}

.footer_social {
    display: flex;
    column-gap: 1rem;
}

.footer_social-link {
    font-size: 1.25rem;
    color: var(--text-color);
    transition: .3s;
}

.footer_social-link:hover {
    color: var(--title-color);
}

.footer_info,
.footer_privacy {
    display: flex;
}

.footer_info {
    padding-bottom: 6rem;
    margin-top: 5.5rem;
    flex-direction: column;
    text-align: center;
    row-gap: 1.5rem;
}

.footer_copy,
.footer_privacy {
    font-size: var(--smaller-font-size);
    font-weight: var(--font-medium);
    color: var(--text-color);
}

.footer_privacy {
    justify-content: center;
    column-gap: 1.25rem;
}